name: Docker CI

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master"]
  workflow_dispatch:
  

jobs:

  build:
    name: Build and Upload Docker Image
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'zulu'
        
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      run: mvn clean install

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Create tag
      run: echo "TAG=$(date +'%d%m%Y:%H%M')" >> $GITHUB_ENV
  
    - name: Build Docker image
      run: docker build -t ${{secrets.DOCKER_USERNAME}}/${{secrets.REPOSITORY_NAME}}:Server-{{ env.TAG }}

    - name: Push the image to DockerHub
      run: docker push ${{secrets.DOCKER_USERNAME}}/${{secrets.REPOSITORY_NAME}}:server-{{ env.TAG }}

      
